body {
  background: url(images/pexels-tim-mossholder-383646.jpg) no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

h1 {
  color: rgb(255, 255, 255);
  border-radius: 30px;
  text-shadow: 2px 2px 2px red;
  font-size: 3rem;
  background: rgba(29, 88, 51, 0.55);
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px 5px;
}

.timerBackground {
  color: rgb(255, 255, 255);
  border-radius: 30px;
  font-size: 2.5rem;
  margin-top: 1rem;
  text-shadow: 2px 2px 2px black;
  background: rgba(55, 11, 11, 0.26);
  padding: 20px 10px;
}
#elfImage {
  max-width: 100%;
  height: auto;
  margin: 10px;
  padding-top: 30px;
}
