body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  margin: 0px;
  height: 100%;
}
.max-width-wrapper {
  min-height: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding: 10px 16px;
}
#main {
  background: url(images/white-decor.png) no-repeat center center fixed;
}
#christmas {
  background: url(images/pexels-tim-mossholder-383646.jpg) no-repeat center
    center fixed;
}

@media (max-width: 600px) {
  #timer {
    color: red;
    text-shadow: 1px 1px 1px white;
  }
}

h1 {
  color: rgb(255, 255, 255);
  border-radius: 30px;
  text-shadow: 2px 2px 2px red;
  font-size: 2.8rem;
  background: rgba(29, 88, 51, 0.55);
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 5px 5px;
}

a {
  border: 1px solid black;
  border-radius: 45px;
  padding: 5px 20px;
  text-decoration: none;
  font-size: 1.5rem;
  color: darkslategray;
}
.timerBackground {
  color: rgb(255, 255, 255);
  border-radius: 30px;
  font-size: 2.3rem;
  margin-top: 1rem;
  text-shadow: 2px 2px 2px black;
  background: rgba(55, 11, 11, 0.26);
  padding: 10px 10px;
  min-height: 100%;
}
#timer {
  font-size: 2.8rem;
}
#elfImage {
  max-width: 50%;
  height: auto;
  padding-top: 30px;
}
#mainPara {
  color: darkslategray;
}
p:last-of-type {
  color: white;
  font-size: 1.5rem;
}
